### IntelliJ IDEA ###
.idea/
*.iml
out/
# manter apenas os out de src específicos se necessário
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Gradle ###
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### OS Files ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Others ###
*.class
*.jar
*.war
*.ear
