name: Java CI/CD
on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master]


jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code 
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'
          cache: 'maven'

      - name: Maven clean verify
        run: mvn clean verify


  build-and-push:
    runs-on: ubuntu-latest
    needs: test
    environment: dockerhub_env
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{vars.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME}}/db_empresa:latest
            ${{ vars.DOCKERHUB_USERNAME}}/db_empresa:${{ github.sha }}

